.wrapper {
  background-color: #edeaee;
  height: 300px;
  width: 100vw;
  position: absolute;
  bottom: 0;
}

.links {
  font-weight: 500;
  padding-left: 40px;
}

.links p {
  margin-top: 40px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.copyright p {
  margin-bottom: 10px;
  font-size: 0.75rem;
}

.icon {
  margin-top: 40px;
  margin-right: 10px;
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
  width: 40px;
  height: 40px;
  padding: 10px;
}

/**************
Responsive
**************/
@media screen and (max-width: 576px) {
  /*　Bootstrap xs */
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  /*　Bootstrap sm 　*/
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  /*　Bootstrap md 　*/
}
