.wrapper {
  position: fixed;
  z-index: 2;
  width: 100vw;
  color: white;
  animation: popDown 0.8s ease 1.5s 1 normal forwards;
}

@keyframes popDown {
  0% {
    top: -30px;
    opacity: 0;
  }
  100% {
    top: 30px;
    opacity: 1;
  }
}

.langSelector {
  padding: 0 40px;
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.item {
  text-decoration: none;
  color: white;
  text-align: center;
  font-weight: 500;
  margin: 0 auto;
  cursor: pointer;
  display: block;
  position: relative;
  overflow: hidden;
}

.itemGrey {
  composes: item;
  color: #89898a;
}

.item:hover {
  color: white;
}

.itemGrey:hover {
  color: #89898a;
}

.item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: transform 300ms;
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.itemGrey::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #89898a;
  transition: transform 300ms;
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.item:hover::after,
.item:focus::after {
  transform: scale(1);
}

.button {
  composes: item;
  background-color: #ff8e00;
  font-weight: 700;
  width: 100px;
  height: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px #ad6101;
  transition: box-shadow 0.3s ease-in-out;
}

.button:hover::after,
.button:focus::after {
  transform: scale(0);
}

.button:hover {
  box-shadow: 4px 4px #ad6101;
}

.selectLang {
  text-decoration: none;
  color: white;
  font-weight: 300;
  position: relative;
  padding: 0.2em 0;
  overflow: hidden;
}

.selectLangGrey {
  composes: selectLang;
  color: #89898a;
}

.selectLang:hover {
  color: white;
}

.selectLangGrey:hover {
  color: #89898a;
}

.selectLang::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: white;
  transition: transform 300ms;
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.selectLang:hover::after,
.selectLang:focus::after {
  transform: scale(1);
}

.grey {
  color: #89898a;
}

.currentLang {
  font-weight: 700;
}

.currentLangGrey {
  composes: currentLang;
  color: #89898a;
}

.menuBtn {
  opacity: 0;
  background: none;
  border: none;
  outline: none;
  transition: all 0.4s ease-in;
}

.menuBtnTopOpen {
  transform: translateY(0%);
  transition: all 0.4s ease-in;
}

.menuBtnTopClose {
  transform: translateY(30%);
  transition: all 0.4s ease-in;
}

.menuBtnBottomOpen {
  transform: translateY(0%);
  transition: all 0.4s ease-in;
}

.menuBtnBottomClose {
  transform: translateY(-30%);
  transition: all 0.4s ease-in;
}

.cta {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  height: 90px;
  width: 90px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #ff8e00;
  position: fixed;
  bottom: 25px;
  right: 25px;
  box-shadow: 3px 3px #ad6101;
  animation: popUp 1s ease 1s 1 normal forwards;
}

@keyframes popUp {
  0% {
    bottom: -100px;
    opacity: 0;
  }
  100% {
    bottom: 25px;
    opacity: 1;
  }
}

.show {
  opacity: 1;
}

.cta:hover,
.cta:active {
  color: white;
}

/**************
Responsive
**************/
@media screen and (max-width: 576px) {
  /*　Bootstrap xs */
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  /*　Bootstrap sm 　*/
  .item {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  /*　Bootstrap md 　*/
  .item {
    margin: 0 auto;
  }
}
