.wrapper {
  position: relative;
  z-index: 0;
  width: 100vw;
  height: 95vh;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.imageIE {
  width: 100%;
  height: auto;
}

.logoWrapper {
  position: absolute;
  top: 40%;
  left: 40px;
}

.logo {
  width: 500px;
}

.subtitle {
  margin-top: 20px;
  font-family: "Crimson Pro", serif;
  font-weight: 300;
  font-size: 18px;
  color: white;
}

/**************
Responsive
**************/
@media screen and (max-width: 576px) {
  /*　Bootstrap xs */
  .logoWrapper {
    left: 20px;
  }

  .logo {
    width: 300px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  /*　Bootstrap sm 　*/
  .logo {
    width: 400px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  /*　Bootstrap md 　*/
}
