.wrapper {
  margin-bottom: 180px;
}

.itemsWrapper {
  display: flex;
}

.item {
  width: 30%;
  margin: 80px calc(10% / 6);
  padding: 40px;
  position: relative;
  border: 4px solid #88e2ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.index {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;
  font-weight: 700;
  color: white;
  background-color: #88e2ff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
}

.text {
  line-height: 150%;
  font-size: 18px;
}

.link {
  text-decoration: none;
  background-color: #ff8e00;
  font-weight: 700;
  width: 90%;
  height: 80px;
  color: white;
  font-size: 24px;
  font-weight: 700;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px #ad6101;
  transition: box-shadow 0.3s ease-in-out;
}

.link:hover {
  box-shadow: 8px 8px #ad6101;
  color: white;
}

/**************
Responsive
**************/
@media screen and (max-width: 576px) {
  /*　Bootstrap xs */
  .wrapper {
    margin-bottom: 120px;
  }
  .itemsWrapper {
    display: flex;
    flex-direction: column;
  }

  .item {
    width: 100%;
    margin: 20px auto;
    position: relative;
    border: 4px solid #88e2ff;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  /*　Bootstrap sm 　*/
  .itemsWrapper {
    display: flex;
    flex-direction: column;
  }

  .item {
    width: 60%;
    margin: 20px auto;
    position: relative;
    border: 4px solid #88e2ff;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  /*　Bootstrap md 　*/
  .itemsWrapper {
    display: flex;
    flex-direction: column;
  }

  .item {
    width: 60%;
    margin: 20px auto;
    position: relative;
    border: 4px solid #88e2ff;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
