.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.image {
  width: 100px;
  height: auto;
}

.text {
  font-family: "Crimson Pro", serif;
  font-size: 36px;
  font-weight: 700;
  margin-left: 30px;
}

/**************
Responsive
**************/
@media screen and (max-width: 576px) {
  /*　Bootstrap xs */
  .image {
    width: 70px;
    height: auto;
  }
  .text {
    font-size: 24px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  /*　Bootstrap sm 　*/
  .text {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  /*　Bootstrap md 　*/
}
