.wrapper {
  padding-bottom: 180px;
}

.testimonialWrapper {
  border: 10px solid #ff8e00;
  padding: 10px 30px;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 200px;
}

.dots {
  display: flex !important;
  justify-content: center;

  margin: 0;
  padding: 1rem 0;

  list-style-type: none;

  position: absolute;
  bottom: -120px;
  left: 50%;
  transform: translateX(-50%);
}

.dots li {
  margin: 0 8px;
}

.dots li button {
  display: block;
  width: 15px;
  height: 15px;
  padding: 0;

  border: none;
  border-radius: 100%;
  background-color: #edeaee;

  text-indent: -9999px;
}

.dots :global(li.slick-active) button {
  background-color: #ff8e00;
}

.quotation {
  font-family: "Crimson Pro", serif;
  font-size: 120px;
  font-weight: 700;
  position: absolute;
}

.alignTop {
  align-self: flex-start;
  top: -80px;
  left: -40px;
}

.alignBottom {
  align-self: flex-end;
  bottom: -100px;
  right: -40px;
}

.testimonial {
  width: 80%;
  text-align: center;
}

.text {
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}

.woodCylinder {
  position: relative;
  z-index: 0;
  bottom: -120px;
  left: -120px;
  width: 200px;
}

:global(.slick-track) {
  display: flex !important;
}
:global(.slick-track .slick-slide) {
  display: flex !important;
  height: auto;
  align-items: center;
  justify-content: center;
}

/**************
Responsive
**************/
@media screen and (max-width: 576px) {
  /*　Bootstrap xs */
  .testimonialWrapper {
    padding: 10px 5px;
  }
  .quotation {
    font-size: 72px;
  }
  .alignTop {
    top: -60px;
  }
  .alignBottom {
    bottom: -60px;
  }
  .testimonial {
    width: 70%;
  }
  .text {
    font-size: 18px;
    line-height: 30px;
  }
  .woodCylinder {
    left: -100px;
  }
  .dots {
    bottom: -80px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  /*　Bootstrap sm 　*/
  .testimonialWrapper {
    padding: 10px 10px;
  }
  .quotation {
    font-size: 96px;
  }
  .alignTop {
    top: -60px;
  }
  .text {
    font-size: 18px;
    line-height: 30px;
  }
  .woodCylinder {
    left: -100px;
  }
  .dots {
    bottom: -90px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  /*　Bootstrap md 　*/
  .testimonialWrapper {
    padding: 10px 20px;
  }
  .quotation {
    font-size: 96px;
  }
  .alignTop {
    top: -60px;
  }
  .text {
    font-size: 18px;
    line-height: 30px;
  }
  .dots {
    bottom: -110px;
  }
}

@media screen and (min-width: 1400px) {
  /*　Bootstrap xxl 　*/
  .testimonialWrapper {
    min-height: 300px;
  }
  .dots {
    bottom: -170px;
  }
  .woodCylinder {
    bottom: -200px;
  }
}
